<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="MarcaModelo"
         providerName="System.Data.ProviderName"
         connectionString="Data Source=REGULUS\SQLEXPRESS;Initial Catalog=HDF;User Id=sa;Password=cms;" />
  </connectionStrings>
</configuration>